@{
    ViewBag.Title = "Products";
}

@*<div ng-view></div>*@
<div ui-view></div>
@*<div ui-view="Test"></div>*@

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/ProductModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/ProductModule.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Services.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/ShowProductsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/AddProductController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/EditProductController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/DeleteProductController.js")"></script>
}